.home {
    padding-top: 100px;
}

.landing-banner {
    max-width: 1200px;
    width: calc(90% - 80px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    background: #eef4ff;
    padding: 40px;
    border-radius: 10px;
    margin-top: 20px;
}

.landing-banner > div {
    width: 50%;
}

.landing-banner img {
    object-fit: contain;
    width: 320px;
}

.landing-banner h1 {
    font-size: 44px;
    padding-right: 40px;
    color: rgb(0, 0, 0);
}

.landing-banner h2 {
    color: #055fef;
}

.landing-banner p {
    font-size: 18px;
    line-height: 1.6em;
    margin-bottom: 40px;
}

.landing-banner button {
    outline: none;
    border: none;
    transition: all 0.3s;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #0d68fa;
    box-shadow: 0 5px 30px 0 rgb(5 95 240 / 50%);
    cursor: pointer;
}